@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

#bandpic{

    background-image: url(../pictures/band7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);
    /* from https://blog.ekohordan.com/posts/full-viewport-height-css/ */
}

.title{
    
    font-family: 'Exo', 'Roboto', sans-serif;
    color: #C1436D;
    
}

.font-size{
    font-size: 3em;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  
  /* from https://www.w3schools.com/Css/css_positioning.asp */
}

.menu-text{
    font-family: 'Exo', 'Roboto', sans-serif;
    color: #A350A3;
}

header > div {
    margin-right: 20px;
    margin-top: 20px;
}

#drop-d-menu{
    left: auto;
    right: 4px;
    /* from https://www.sitepoint.com/community/t/css-drop-down-menu-is-going-off-screen-when-dropping-down/3300/2 */
}

div > h2{
    padding: 20px 0 15px 0;
    text-align: center;
}

div > h4{
    padding: 20px 0 15px 0;
    text-align: center;
}

.card-title{
    text-align: center;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-text{
    text-align: center;
}

#gallery{
   
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
  /* from love-running project/code institute */
  padding: 0 0 0 20%;
}

#gallery img{
  width: 100%;
  /* from love-running project/code institute */
}

.bkgr-color-d{
    background-color: #C1436D;
    
}

.text-light{
    color: #e0a0b6;
}

.float-right.fixed-top{
    left: auto;
    right:8px;
}

thead{
    border-style: hidden;
}

.table-center{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.btn-primary{
    background-color: #C1436D;
    border-color: #C1436D;
}

.btn-primary:hover{
    background-color: #da94e4;
    border-color: #da94e4;
}

#social{
    margin: 20px;
    padding: 0 0 20px 0;
    text-align: center;
}

#contact{
    margin: 20px;
    padding: 0 
}

#items{
    display: flex;
    justify-content: center;
}

#shop .card{
    background-color: #A350A3;
    color: #e0a0b6;
}

#gig table {
    margin-bottom: 31px;
}

@media screen and (max-width: 943px) {
    #gallery {
    column-count: 3;
    padding: 0;
    }

     /*.card-text {
        display: none;
    }

    .card {
        word-wrap: none;
    }*/
}


@media screen and (max-width: 800px) {
    #gallery {
    column-count: 2;
    padding: 0;
    }

    .card-text {
        display: none;
    }

    .card {
        word-wrap: none;
    }
}


