@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;200;300;400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    border: 0;
}

#bandpic{

    background-image: url(../pictures/band7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);
    /* from https://blog.ekohordan.com/posts/full-viewport-height-css/ */
}

.title{
    
    font-family: 'Exo', 'Roboto', sans-serif;
    color: #C1436D;
    
}

.font-size{
    font-size: 3em;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  
  /* from https://www.w3schools.com/Css/css_positioning.asp */
}

.menu-text{
    font-family: 'Exo', 'Roboto', sans-serif;
    color: #A350A3;
}

header > div {
    margin-right: 20px;
    margin-top: 20px;
}

#drop-d-menu{
    left: auto;
    right: 4px;
    /* https://www.sitepoint.com/community/t/css-drop-down-menu-is-going-off-screen-when-dropping-down/3300/2 */
}

div > h2{
    text-align: center;
}